body{
    background-color: rgb(255, 255, 255);
}

h1{
    font-family: Arial;
    font-size: 22px;
    text-align: center;
}

u1{
    font-family: Arial;
    font-size: 22px;
}

table,th,td{
    border:1px solid black;
    border-collapse: collapse;
    height: 30px;
    width: 1000px;
    font-family: Arial;
}

th{
    background-color: rgb(255, 255, 255);
}

tr:nth-child(odd){
    background-color: rgb(185, 174, 130);
}

tr:nth-child(even){
    background-color: rgb(255, 136, 0);
    color: rgb(240, 240, 240);
}

th:nth-child(1){
    text-align: left;
}

th:nth-child(4){
    text-align: center; 
}

th:nth-child(2){
    text-align: center;
}

th:nth-child(3){
    text-align: center;
}

th:nth-child(4){
    text-align: center;
}

caption{
    font-size: 30px;
    margin-top: 20px;
}

p img{
    max-width: 1000px;
    height: 100px;
}

.wrapper{
    width:90%;
    margin:0 auto;
    display:grid;
    grid-template-rows: 80px 50px auto 50px;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}

header{
    background-color: rgb(179, 67, 67);
    grid-area: header;
}

nav{
    background-color: rgb(151, 51, 51);
    grid-area: nav;
}

nav > ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height:100%;
    margin: 0;
    padding:0;
}

nav li{
    list-style-type: none;
    text-align: center;
    display: grid;
    align-items: stretch;
}

main{
    background-color: rgb(231, 231, 231);
    grid-area: main;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
}
h2{
    text-align: center;
}

footer{
    background-color: rgb(221, 235, 25);
    grid-area: footer;
}